$header_height: 34px;
$border_color: #c0c0c0;
$toolbar_height: 40px;
$formula_height: 24px;
$info_cell_width: 40px;
$row_height: 24px;
$cell_width: 120px;
$db_header_height: 80px;
$primary_color: #3c74ff;