@import "variables";
@import "mixins";

.excel_header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $header_height;
  padding: 8px 4px 0;
  display: flex;
  justify-content: space-between;

  & .input {
    margin: 0;
    min-width: 1px;
    padding: 2px 7px;
    color: #000000;
    border: 1px solid transparent;
    border-radius: 2px;
    height: 20px;
    font-size: 10px;
    line-height: 20px;
    outline: none;

    &:hover {
      border: 1px solid $border_color;
    }

    &:focus {
      border: 1px solid #1a73e8;
    }
  }

  & .button {
      @include button(red);
  }
}
