@import "variables";
@import "mixins";

.excel_table {
  position: absolute;
  left: 0;
  right: 0;
  top: $header_height + $toolbar_height + $formula_height;
  overflow-x: auto;
  padding-bottom: 2px;

  .row {
    display: flex;
    flex-direction: row;
    min-height: 20px;
    height: $row_height;
  }

  .row-info {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $info_cell_width;
    height: 100%;
    border: 1px solid $border_color;
    background-color: #f8f9fa;
    border-top: none;
  }

  .row-data {
    display: flex;
    // justify-content: center;
    // align-items: center;
  }

  .column {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    min-width: 40px;
    width: $cell_width;
    border: 1px solid $border_color;
    border-top: none;
    border-left: none;
  }

  .cell {
    min-width: 40px;
    padding: 5px;
    width: $cell_width;
    height: 100%;
    border: 1px solid #e2e3e3;
    border-top: none;
    border-left: none;
    color: #111;
    white-space: nowrap;
    outline: none;

    &.selected {
      border: none;
      outline: 2px solid #3c74ff;
      z-index: 2;
    }
  }
}
