@import "variables";
@import "mixins";

.excel_table {
  left: 0;
  overflow-x: auto;
  padding-bottom: 2px;
  position: absolute;
  right: 0;
  top: $header_height + $toolbar_height + $formula_height;

  .row {
    display: flex;
    flex-direction: row;
    height: $row_height;
    min-height: 20px;
  }

  .row-info {
    align-items: center;
    border: 1px solid $border_color;
    background-color: #f8f9fa;
    border-top: none;
    display: flex;
    height: 100%;
    justify-content: center;
    min-width: $info_cell_width;
    position: relative;
  }

  .row-data {
    display: flex;
  }

  .column {
    align-items: center;
    background-color: #f8f9fa;
    border: 1px solid $border_color;
    border-left: none;
    border-top: none;
    display: flex;
    justify-content: center;
    min-width: 40px;
    position: relative;
    width: $cell_width;
  }

  .col-resize,
  .row-resize {
    background-color: $primary_color;
    bottom: 0;
    top: 0;
    opacity: 1;
    position: absolute;

    &:hover {
      opacity: 1;
    }
  }

  .col-resize {
    top: 0;
    right: 0;
    width: 4px;

    &:hover {
      cursor: col-resize;
    }
  }

  .row-resize {
    left: 0;
    height: 4px;
    width: 100%;

    &:hover {
      cursor: row-resize;
    }
  }

  .cell {
    min-width: 40px;
    padding: 5px;
    width: $cell_width;
    height: 100%;
    border: 1px solid #e2e3e3;
    border-top: none;
    border-left: none;
    color: #111;
    white-space: nowrap;
    outline: none;

    &.selected {
      border: none;
      outline: 2px solid $primary_color;
      z-index: 2;
    }
  }
}
